@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");
.background {
  width: 100vw;
  height: 100vh;
  cursor: url(../../public/assets/icons/cur.cur), auto !important;
}
