.CVContainer {
  position: relative;
  width: 100vw;
  height: 85vh;
  top: 15vh;
  left: 5vw;
  font-size: 0.7rem;
  cursor: url(../../public/assets/icons/cur.cur), auto !important;
  font-family: "Montserrat", "Noto Sans KR";
}

@media all and (max-width: 767px) {
  .CVContainer {
    left: 1vw;
    width: 90vw;
    top: 10vh;
    font-size: 0.6rem;
  }
}

.name {
  font-weight: bold;
}

.category {
  font-weight: bold;
}
