/* exhibitions 메인 페이지 */
.exhibitionsListContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2vh;
  column-gap: 1vw;
  position: relative;
  width: 95vw;
  height: auto;
  top: 18vh;
  margin-left: auto;
  margin-right: auto;
  cursor: url(../../public/assets/icons/cur.cur), auto !important;
}

.exhibitionListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: auto;
  height: 30vh;
  font-family: "Montserrat", "Noto Sans KR";
}

.poster {
  margin-top: 1vh;
  width: 22vw;
  height: 20vh;
  object-fit: contain;
  background-color: rgb(255, 255, 255);
}

.exhibitionListInfo {
  text-align: center;
  line-height: 1.4rem;
}

/* exhibition 페이지 */
.exhibitionContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  top: 14vh;
  cursor: url(../../public/assets/icons/cur.cur), auto !important;
  font-family: "Montserrat", "Noto Sans KR";
  font-size: 1.1rem;
}

.exhibitionInfo {
  text-align: center;
  line-height: 0.9rem;
  height: 15vh;
}

.exhibitionItem {
  margin-bottom: 5vh;
  max-width: 50vw;
  max-height: 100vh;
  object-fit: contain;
}

.exhibitionText {
  line-height: 1.6rem;
  width: 50vw;
  word-break: keep-all;
}

@media all and (max-width: 767px) {
  .exhibitionsListContainer {
    display: flex;
    flex-direction: column;
    top: 12vh;
    padding-bottom: 3vh;
    row-gap: 0;
  }
  .exhibitionListItem {
    font-size: 0.7rem;
  }
  .poster {
    width: 70vw;
    margin-top: 0;
  }
  .exhibitionInfo {
    margin-bottom: 1vh;
    height: auto;
  }
  .exhibitionContainer {
    top: 8vh;
    font-size: 0.8rem;
  }
  .exhibitionItem {
    margin-top: 0vh;
    margin-bottom: 3vh;
    max-width: 80vw;
    max-height: 60vh;
  }
  .exhibitionText {
    line-height: 1.5rem;
    width: 80vw;
  }
}
