.background {
  background-image: url("../../public/assets/icons/background.webp");
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

.works {
  background-image: url("../../public/assets/icons/plates.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 13vw;
  height: 36vh;
  z-index: 1;
  left: 82vw;
  top: 17vh;
}

.works:hover {
  background-image: url("../../public/assets/icons/Works.webp");
  background-size: 100%;
  top: 33vh;
  height: 36vh;
  cursor: url(../../public/assets/icons/hover.cur), auto;
}

.exhibitions {
  background-image: url("../../public/assets/icons/badee.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 23vw;
  height: 28vh;
  z-index: 1;
  left: 60vw;
  top: 40vh;
}
.exhibitions:hover {
  background-image: url("../../public/assets/icons/Exhibitions.webp");
  background-size: 80%;
  top: 44vh;
  cursor: url(../../public/assets/icons/hover.cur), auto;
}

.cv {
  background-image: url("../../public/assets/icons/bottle.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 13vw;
  height: 20vh;
  z-index: 1;
  left: 72vw;
  top: 82vh;
}

.cv:hover {
  background-image: url("../../public/assets/icons/CV.webp");
  background-size: 55%;
  top: 85vh;
  left: 74vw;
  cursor: url(../../public/assets/icons/hover.cur), auto;
}

.link {
  background-image: url("../../public/assets/icons/chopsticks.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 14vw;
  height: 13vh;
  z-index: 1;
  top: 54vh;
  left: 52vw;
}

.link:hover {
  cursor: url(../../public/assets/icons/hover.cur), auto;
}

@media all and (max-width: 767px) {
  .works:hover {
    top: 23vh;
  }
  .cv:hover {
    left: 75vw;
  }
}
